@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

:root {
	line-height: 1.5;
	font-family: 'League Spartan';
	--font-size-numbers: 32px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--mobile-width: 375px;
	--desktop-width: 1440px;

	/* 1 THEME background */
	--dark-blue-main-background: hsl(222, 26%, 31%);
	--very-dark-blue-toggle: hsl(223, 31%, 20%);
	--dark-blue-screen-background: hsl(224, 36%, 15%);

	/* Keys */
	--blue-key-background: hsl(225, 21%, 49%);
	--blue-key-shadow: hsl(224, 28%, 35%);

	--red-background-toggle: hsl(6, 63%, 50%);
	--dark-red-key-shadow: hsl(6, 70%, 34%);

	--light-grayish-orange-key-bc: hsl(30, 25%, 89%);
	--grayish-orange-key-shadow: hsl(28, 16%, 65%);

	/* Text */
	--very-dark-grayish-blue: hsl(221, 14%, 31%);
	--white: hsl(0, 0%, 100%);

	/* 2 THEME background */
	--light-gray-main-background: hsl(0, 0%, 90%);
	--grayish-red-toggle-keypad: hsl(0, 5%, 81%);
	--very-light-gray-screen-background: hsl(0, 0%, 93%);

	/* Keys */
	--dark-moderate-cyan-background: hsl(185, 42%, 37%);
	--very-dark-cyan-shadow: hsl(185, 58%, 25%);

	--orange-background-toggle: hsl(25, 98%, 40%);
	--dark-orange-shadow: hsl(25, 99%, 27%);

	--light-grayish-yellow-key-bc: hsl(45, 7%, 89%);
	--dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);

	/* Text */
	--very-dark-grayish-yellow: hsl(60, 10%, 19%);

	/* 3 THEME background */
	--very-dark-violet-main-background: hsl(268, 75%, 9%);
	--very-dark-violet-toggle-keypad-background: hsl(268, 71%, 12%);

	/* Keys */
	--dark-violet-background: hsl(281, 89%, 26%);
	--vivid-magenta-key-shadow: hsl(285, 91%, 52%);

	--pure-cyan-background-toggle: hsl(176, 100%, 44%);
	--soft-cyan-shadow: hsl(177, 92%, 70%);

	--very-dark-violet-background: hsl(268, 47%, 21%);
	--dark-magenta-shadow: hsl(290, 70%, 36%);

	/* Text */
	--light-yellow: hsl(52, 100%, 62%);
	--very-dark-blue: hsl(198, 20%, 13%);
}
